<header class="header">
   <h1>Game Haven</h1>
   <nav>
      <ul>
         <li class="navlink"><a href="">Home</a></li>
         <li class="navlink"><a href="">Games</a></li>
         <li class="navlink"><a href="">Genres</a></li>
         <li class="navlink"><a href="">Platforms</a></li>
         <li class="navlink"><a href="">Developers</a></li>
      </ul>
   </nav>
</header>
